@import '../../styles/colors';
@import '../../styles/media';

.job__relatedskills {
  background-color: $white;
  padding: 2vw 1.45vw 4.1vw 2.7vw;

  svg {
    width: 80%;
    position: relative;
    top: 1vw;
    left: 2%;

    @include for-phone-only {
      left: 0;
    }
  }

  h3 {
    margin: 0;
  }
}
